.miLetra{
-fx-text-fill: blue;
-fx-background-radius: 50.0;
-fx-background-color: white;
-fx-font-family: "Dokdo";
-fx-font-size: 50.0;
}

.mytitle{
    -fx-font-family: "Indie Flower";
    /*-fx-font-family: "Indie Flower";*/
    -fx-font-size: 50.0;
    
}

.dentro{
	    -fx-font-family: "Pacifico";
	/*-fx-font-family: "Indie Flower";*/
    -fx-font-size: 80.0;
}
